.header__title {
  width: 100%;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  margin: 0;
  padding: 23px 0 10px 0;
  border-bottom: 1px solid black;
  box-sizing: border-box;
  text-align: center;
}

@media screen and (max-width: 890px) {
  .header__title {
    font-size: 36px;
    line-height: 44px;
  }
}

@media screen and (max-width: 590px) {
  .header__title {
    padding: 11px 0 7px 0;
  }
}
