.project-card {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  grid-template-rows: minmax(min-content, max-content) 1fr min-content 1fr;
  grid-template-areas:
  "title title title"
  "image line description"
  "image line h-line"
  "image line stack";
  justify-items: center;
  align-items: center;
  column-gap: 3%;
  padding-bottom: 40px;
  border-bottom: 1px solid black;
  margin-top: 11px;
}

.project-card:last-of-type {
  border-bottom: 2px solid black;
}

@media screen and (max-width: 790px) {
  .project-card {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
  }
}
