.popup__container {
  width: 500px;
  min-width: 320px;
  padding: 35px;
  box-sizing: border-box;
  border-radius: 50px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

