.project-card__stack {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  grid-area: stack;
  width: 100%;
  max-width: 500px;
  margin: 0;
  text-align: justify;
  justify-self: start;
}

@media screen and (max-width: 1100px) {
  .project-card__stack {
    font-size: 16px;
    line-height: 26px;
  }
}

@media screen and (max-width: 890px) {
  .project-card__stack {
    font-size: 14px;
    line-height: 24px;
  }
}
