.body {
  background-image: url(../../../images/bg.jpg);
  background-position: top;
  background-size: cover;
  background-repeat: repeat-y;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Inter' Arial sans-serif;
  font-style: normal;
}
